@using Microsoft.AspNet.Identity
@model PracticaNETRoP.Models.Products

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>

            <img src="@(Model.image)" with="40px" height="100px" alt="Image" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.GetUserName().Equals("admin@upm.es"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    @if (User.Identity.GetUserId() == null)
    {
        @Html.ActionLink("Back to Home", "Index", "Home")
    }
    else
    {
    @Html.ActionLink("Back to List", "Index")
    }

</p>
