@model IEnumerable<PracticaNETRoP.Models.Products>
@{
    ViewBag.Title = "Index Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-content">
    <h2> Datos del carrito</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        }

    </table>
</div>

<h1>
    Total: @Model.Sum(i => i.price) €
</h1>
@Html.ActionLink("Buy now", "NewOrder")